* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #EAEDED; /* Amazon-like light gray background */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
